[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anascko
[access "refs/for/refs/*"]
	read = group user/anascko
	push = group user/anascko
	label-Code-Review = -2..+2 group user/anascko
	label-Verified = -1..+1 group user/anascko
	rebase = group user/anascko
	removeReviewer = group user/anascko
	submit = group user/anascko
[access "refs/heads/*"]
	read = group user/anascko
	create = group user/anascko
	push = +force group user/anascko
	pushMerge = group user/anascko
[access "refs/tags/*"]
	push = group user/anascko
	push = +force group user/anascko
